body {
  background-color: #05101f;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: #121924;
  text-align: center;
  color: #e4e70f;
  font-size: larger;
}

.intro-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#intro-button {
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  font-size: 30px;
}

#intro-button:hover {
  background-color: #e4e70f;
}

.game-screen {
  text-align: center;
  color: #e4e70f;
  font-size: large;
}

.game-buttons {
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  font-size: 80px;
}

.game-buttons:hover {
  background-color: #e4e70f;
}
.hidden {
  display: none;
}
