body {
  background-color: #05101f;
  width: 100%;
  height: 100vw;
  display: flex;
  flex-direction: column;
}
/* * {
  border: red solid 3px;
} */
header {
  background-color: #121924;
  text-align: center;
  color: #e4e70f;
}

.intro-screen {
  display: flex;
  justify-content: center;
  /* width: 100%;
  height: 100%; */
}
#intro-button {
  background-color: #ffffff;
  width: 300px;
  height: 50px;
}

#intro-button:hover {
  background-color: #e4e70f;
}

.hidden {
  display: none;
}

#game-screen {
  text-align: center;
  color: #e4e70f;
}
